<div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start end" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3>
        Welcome to your dashboard UserName</h3>
    </div>
    <div fxLayout="row wrap" class="fullwidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <p class="width50">
        Email:</p>
      <h5 class="width50">
      </h5>
    </div>
    <div fxLayout="row wrap" class="fullwidth" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="width50">
        Favourite:</div>
      <div class="width50">
        Liked posts<span>(Number of posts)</span></div>
    </div>
  </div>
</div>