<div fxLayout="column wrap" class="fullheight" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="headingSize" fxLayoutAlign="start stretch" [fxShow]="true">
        <h1 class="marginbotzero">
          News Portal</h1>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true"><label class="label">
          Your Daily News</label></div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="padding: 8px 30px" class="darkgreytop" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.navigation" (click)="sendCategory(item.catergory)">
      <div>
        {{item.name}}
      </div>
    </div>
  </div>
</div>