<div fxLayout="row wrap" class="boxRead lightbackground" fxFlex="80" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="95" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="readMoreIcon buttonpad" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button (click)="back()">
        <mat-icon>arrow_back</mat-icon>Home
      </button></div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <h2>
        {{page.news?.title}}
      </h2>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true"><img [src]="page.news?.urlToImage || &apos;https://st2.depositphotos.com/3223379/5688/i/950/depositphotos_56880225-stock-photo-words-news.jpg &apos;" style="height:410px"></div>
    <div fxLayout="row wrap" class="paddingAround" fxLayoutAlign="start stretch" [fxShow]="true">
      <p>
        {{page.news?.description }}
      </p>
    </div>
    <div fxLayout="row wrap" class="paddingAround" fxLayoutAlign="start stretch" [fxShow]="true"><label class="span">
        <span class="authour">Author :</span>{{page.news?.author ? page.news?.author :&apos;Author Unknown&apos; }}</label></div>
    <div fxLayout="row wrap" class="paddingAround" fxLayoutAlign="start stretch" [fxShow]="true"><label class="span">
        <span class="publish Date">Publish Date : </span>{{page.news?.publishedAt ? (page.news?.publishedAt | date:&apos;mediumDate&apos;)  :&apos;Publish Date known&apos; }}</label></div>
    <div fxLayout="row wrap" class="anchortextRed paddingAround" fxLayoutAlign="start stretch" [fxShow]="true">
      <p>
        {{page.content}}<a href="{{page.news?.url}}" target="_blank">Read Full Article</a>
      </p>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="end center" [fxShow]="true"><label>
        {{page.isFav ? &apos;Unmark as Favorite&apos; : &apos;Mark as Favorite&apos;}}</label>
      <mat-icon class="cursorPointer" [class.favorite]="page.isFav" (click)="markAsFavorite()">star</mat-icon>
    </div>
    <div fxLayout="row wrap" class="paddingAround" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>