<div fxLayout="row wrap" class="lightbackground" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true">
    <mat-card>
      <mat-card-content>
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <h2>
              Welcome to <span class="redColor cursorPointer" routerLink="../">NewsPortal</span> Register</h2>
          </div>
          <form #register="ngForm">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [(ngModel)]="page.register.fullname" name="fullname" placeholder="Enter Full name" [required]="true" pattern="[a-z]{1,15}">
                <mat-error align="start" *ngIf="register.controls.password?.errors">Enter a valid name without special characters or space</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" style="margin-top: 10px;" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [(ngModel)]="page.register.email" name="email" type="email" placeholder="Enter email" [required]="true" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" id="email">
                <mat-error align="start" *ngIf="register.controls.email?.errors &amp;&amp; register.controls.email.errors.required">Enter valid email</mat-error>
                <mat-error align="start" *ngIf="register.controls.email?.errors">Enter a valid email with @domain.com</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                <input matInput [(ngModel)]="page.register.password" name="password" type="password" placeholder="Password" [required]="true" pattern="[A-Za-z0-9]{0,8}" minlength="8" maxlength="8">
                <mat-error align="start" *ngIf="register.controls.password?.errors &amp;&amp; register.controls.password.errors.required">Please enter password</mat-error>
                <mat-error align="start" *ngIf="register.controls.password?.errors?.minlength">Password needs to be at least 8 characters</mat-error>
                <mat-error align="start" *ngIf="register.controls.password?.errors">Password does not need special characters</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" style="padding-top: 32px;" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button (click)="registerSubmit(register.value)" [disabled]="register.invalid">Register</button></div>
          </form>
          <div fxLayout="row wrap" class="margintop10px" fxLayoutAlign="start stretch" [fxShow]="true">
            <h4>
              <a routerLink="../login">Already have an account?</a>
            </h4>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>