<div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h2>
        Welcome to NewsPortal Register</h2>
    </div>
    <form #register="ngForm">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.register.fullname" name="fullname" placeholder="Enter Full name" [required]="true" pattern="[a-z]{1,15}">

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.register.email" name="email" placeholder="Please enter Email" [required]="true" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.register.password" name="password" placeholder="Password" [required]="true" pattern="(?=^.{8,}$)(?=.*\d)(?=.*[!@#$%^&amp;*]+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">

        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button (click)="registerSubmit(register.value)" [disabled]="register.invalid">Register</button></div>
    </form>
    <div fxLayout="row wrap" class="margintop10px" fxLayoutAlign="start stretch" [fxShow]="true">
      <h4>
        <a href="home/login">Already have an account?</a>
      </h4>
    </div>
  </div>
</div>