/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
$red: #ED1C24;
$white: #fff;
$black: #000;
$primary: #d9dbe2;
$green:#43d854;
$lightBlue:#55acee;
$blue:#3b5998;
 
bh-home,bh-register,bh-login{
    height: 100%;
}
.fullheight{
    height: 100%;
}
.mat-button.mat-primary.mat-button-disabled, .mat-button.mat-accent.mat-button-disabled, .mat-button.mat-warn.mat-button-disabled, .mat-button.mat-button-disabled.mat-button-disabled, .mat-icon-button.mat-primary.mat-button-disabled, .mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled, .mat-stroked-button.mat-primary.mat-button-disabled, .mat-stroked-button.mat-accent.mat-button-disabled, .mat-stroked-button.mat-warn.mat-button-disabled, .mat-stroked-button.mat-button-disabled.mat-button-disabled{
background: darkgray;
}
.borderradius{
    border-radius: 5px;
}

.height98{
    height: 99.8%;
}
.padding15px{
    padding: 11px 30px
}
.lightbackground{
    background: #ebeff1
}
.mainContainer{
    background-color: $primary;
}
.mat-button {
    color: #ffff !important;
    background-color: #ED1C24 ;
}
.width94{
    width: 94%;
}
.headingSize{
    font-size: 2em;
    font-weight: 700;
    color: #ED1C24;
}
.label{
    font-size:23px;
    color: #b0b0b0;
    font-weight: 300;
}
.darkgreytop{
    border-top: solid 3px darkgrey;
}
.marginbotzero{
        margin-bottom: 0;
}
.width90{
    width:90%
}
.elipsis{
    white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
     width: 325px;
}
.elipsisParagraph{
    white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
     width: 60em;
}
.paddingAround{
    padding: 0 28px;
}
.paddingDynamic{
    padding: 15px 0;
}
.padding5px{
    padding: 7px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.leftsidecolHome{
    background-color:#ffffff;
}
.lightcolor{
    color: #c2cbd3;
}
.profileimage{
    font-size: 16px;
    font-weight: bold;
    color: black;
    img{
    width: 60px;
    height: 60px;
}
}
// .calbody{
//     height: calc( 100% - 80px );
// }
.sideNavcatergory{
    height: 50px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px !important;
}
.mat-form-field-infix {
    border-top: 7.84375px solid transparent !important;
}

.fullwidth,bh-charts, bh-newsread{
    width: 100% !important;
}
.textunderprofile{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.borderradius50{
    border-radius: 50%;
}
.card{
    // width: 356px;
    // height: 271px;
    margin-bottom: 1em;
}
.negativeMarBot{
    margin-bottom: -20px;
}
// .cards {
//   box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px, rgba(0, 0, 0, 0.05) 0px 0.5px 1px;
//   transition: all .3s ease-in-out;
// }
.width50{
    width:50%;
}
.borderRedTip{
    border-top: solid red 3px ;
}
.margintop{
    margin-top: 5px;
}
// .cards:hover {
//   box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px, rgba(0, 0, 0, 0.18) 0px 4px 11px;
// }
.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}
.mat-card-image {
    height: 250px !important;
}
.cardimages{
    width: 350px;
    height: 150px;
}
.boxRead{
    border-radius: 4px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid transparent;
}
.buttonpad{
    padding: 6px;
}
.carousel-container {
    height: 500px !important;
}
.carousel-cells .carousel-cell {
    width: 400px !important;
}
.carousel-cell{
    width: 600px !important;
    label {
        padding: 20px;
        background-color: white;
        color: black;
    }
}
.anchortextRed{
    a{
        text-decoration: none;
        color: red;    
    }
}
.boldHover:hover {
    font-weight: bold;
}
.readMoreIcon{
    .mat-icon {
    height: 24px !important;
    width: 21px !important;
}
.material-icons {
    font-size: 20px;
}
}
.span{
    span{
       color: black;
    font-weight: bold; 
    }   
}
.horizontalAutoScroll {
    overflow-x: auto;
}
.displayContainer {
    display: block !important;
    max-height: calc(100vh - 185px);
    overflow-y: auto;
}
.favorite {
    color: orange;
}
.underline {
    text-decoration: underline;
}
.cursorPointer {
    cursor: pointer;
}
.marginBottom1em {
    margin-bottom: 1em;
}
.selectedCat{
    color: $white;
    background-color: #ED1C24;
}
.topStory {
    padding: 10px;
    border-top: double 1px black;
    border-bottom: double 1px black;
}

.indexIndicator {
    font-weight: bold;
    font-size: xx-large;
    color: #ab3b3b36;
}

.storyHighlight:hover {
    color: red;
}

a {
    color: orangered !important;
    text-decoration: none;
}

.favoriteContainerUnmarked {
    border: red solid 1px;
    padding: 10px;
    border-radius: 9px;
}

.favoriteContainerMarked {
    border: red solid 1px;
    padding: 8px 12px;
    border-radius: 5px;
    background: red;
}
.marginzero{
    margin: 0;
}
.displaycontent{
    display: contents;
}
.margintop10px{
    margin-top: 10px;
}

.whiteBG {
    background: $white;
}
.whiteColor, .socialIcon ,.favoriteContainerMarked {
    color: $white;
}

.redColor {
    color: $red;
}

.font3rem {
    font-size: 3rem !important;
}

.removeTopMargin{
    margin-top:0;
}

.countryText{
    margin-bottom: .3em;
}
bh-covid{
    height:100%;
}
.font1em{
    font-size: 1.4em !important;
}
.alignCenterCard{
    display: grid !important;
    align-items: center !important;
}
.cardHeight360px{
    height: 360px;
}
.selectCountry{
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: $red;
}
}
.inputContainer {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: rgba(0, 0, 0, 0.12);
        background: $white;
        border-radius: 5px;
    }
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0.5em 0 1em 0 !important;
    }
    .mat-form-field-infix {
        border-top: 0.74375em solid transparent;
    }
    .mat-form-field-appearance-outline .mat-form-field-prefix,
    .mat-form-field-appearance-outline
    .mat-form-field-suffix {
        top: 0.45em;
    }
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.commentSection{
    width: 100%;
    padding: 10px;
}
.socialIcon{
    font-size: 2em;
    padding: 5px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
.bgGreen, .fa-whatsapp{
    background-color: $green;
}
.bgLightBlue , .fa-twitter{
    background-color: $lightBlue;
}
.bgBlue , .fa-facebook{
    background-color: $blue;
}
.bgRegister{
    background-image: url('https://cdn.pixabay.com/photo/2016/10/29/09/33/abstract-1780184__340.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bgRegisterSide{
    background-image: url('https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.registerBut{
    .mat-raised-button {
    border-radius: 20px !important;
    }
}