/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
bh-home{
    height: 100%;
}
.fullheight{
    height: 100%;
}
.borderbody{
    // border: solid 1px purple;
    background-image: url('https://images.pexels.com/photos/2130166/pexels-photo-2130166.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
}
.borderradius{
    border-radius: 5px;
}
body{
    overflow-y: auto;
}
.height98{
    height: 99.8%;
}
.lightbackground{
    background: #ebeff1
}
.mainContainer{
    background-color: #d9dbe2
}
.mat-button {
    color: #ffff !important;
    background-color: purple !important;
}
.width94{
    width: 94%;
}
.headingSize{
    font-size: 30px;
    font-weight: 700;
    // font-family: 'Roboto Condensed';
    color: #ED1C24;
    letter-spacing: -0.01em;
    line-height: 1;
}
.label{
    font-size: 18px;
    color: #b0b0b0;
    font-weight: 300;
}
.darkgreytop{
    border-top: solid 3px darkgrey;
}
.marginbotzero{
        margin-bottom: 0;
}
.width90{
    width:90%
}
.elipsis{
    white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
     width: 270px;
}
.elipsisParagraph{
    white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
     width: 60em;
}

.padding5px{
    padding: 7px;
}
body{
    font-family: 'Raleway', sans-serif;
}
.leftsidecolHome{
    background-color:#ffffff;
}
.lightcolor{
    color: #c2cbd3;
}
.profileimage{
    font-size: 16px;
    font-weight: bold;
    color: black;
    img{
    width: 60px;
    height: 60px;
}
}
// .calbody{
//     height: calc( 100% - 80px );
// }
.sideNavcatergory{
    height: 50px;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px !important;
}
.mat-form-field-infix {
    border-top: 7.84375px solid transparent !important;
}

.fullwidth{
    width: 100%;
}
.textunderprofile{
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.borderradius50{
    border-radius: 50%;
}
.card{
    width: 300px;
    height: 300px;
}
.mat-card-title {
    font-size: 20px;
    font-weight: 500;
}
.cardimages{
    width: 350px;
    height: 150px;
}